body{
	font-family: sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-size: 14px;
    background: #ffffff url(../img/confetti.png) repeat fixed;
    background-size: 300px auto;
    overflow-y: scroll;
    overflow-x: hidden;
}
*{
    margin: 0;
    padding: 0;
}
.main-logo{
	width:400px;
	max-width: 90%;
}
footer{
	background-color: #325dff;
    padding: 12px 0 3px;
    padding-bottom: 60px;
}
.social li {
    opacity: .4;
    transition: opacity .3s ease-out;
    margin: 10px 17px 10px 0;
    display: inline-block;
}
.social{
	list-style-type: none;
	padding-left: 0;
	float: right !important;
	display: inline-block;
    transform: translateX(10px);
}
.social li:hover {
    opacity: 1;
}
.social-heading{
	text-align: right;
}
[type=radio].with-gap:checked+label:after, [type=radio]:checked+label:after {
    background-color: #111113;
}
[type=radio].with-gap:checked+label:after, [type=radio].with-gap:checked+label:before, [type=radio]:checked+label:after {
    border: 2px solid #111113;
}
[type=checkbox]:checked+label:before{
    border-right: 2px solid #111113 !important;
    border-bottom: 2px solid #111113 !important;
}
.loggedIn{
   display: inline-block;
}
.question-block{
   display: none;
}
.logout-block{
   display: none;
}
#logout{
   float: right;
}
/* label color */
   /*.input-field label {
     color: #000;
   }*/
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #777;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #777;
     box-shadow: 0 1px 0 0 #777;
   }
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid #777;
     box-shadow: 0 1px 0 0 #777;
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid #777;
     box-shadow: 0 1px 0 0 #777;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #777;
   }
@media(max-width: 769px){
	.social-heading{
		text-align: left;
	}
	.social{
		float: none !important;
	}
}
